.community-wrapper {
  display: flex;
  justify-content: space-between;

  .community-main-content{
    width: 100%;
  }
  .community-chat-content{
    width: 100%;
    #community-chat-messages {
      display: flex;
      flex-direction: column;

    }
  }
}
